[submodule "Submodules/unity-aesprite-importer"]
	path = Submodules/unity-aesprite-importer
	url = https://github.com/fielddaylab/unity-aseprite-importer
[submodule "Assets/WebGLTemplates/Aqualab/FloatingDropdown"]
	path = Assets/WebGLTemplates/Aqualab/FloatingDropdown
	url = https://github.com/fielddaylab/FloatingDropdown.git
