[submodule "Submodules/unity-aesprite-importer"]
	path = Submodules/unity-aesprite-importer
	url = https://github.com/fielddaylab/unity-aseprite-importer
[submodule "Submodules/opengamedata-unity"]
	path = Submodules/opengamedata-unity
	url = https://github.com/opengamedata/opengamedata-unity.git
	branch = main
