[submodule "Submodules/BeauRoutine"]
	path = Submodules/BeauRoutine
	url = https://github.com/BeauPrime/BeauRoutine.git
	branch = develop
[submodule "Submodules/BeauUtil"]
	path = Submodules/BeauUtil
	url = https://github.com/BeauPrime/BeauUtil.git
	branch = develop
[submodule "Submodules/unity-aesprite-importer"]
	path = Submodules/unity-aesprite-importer
	url = https://github.com/martinhodler/unity-aseprite-importer
[submodule "Submodules/Leaf"]
	path = Submodules/Leaf
	url = https://github.com/BeauPrime/Leaf.git
[submodule "Submodules/opengamedata-unity"]
	path = Submodules/opengamedata-unity
	url = https://github.com/opengamedata/opengamedata-unity.git
	branch = Authentication
