#header {
  content: "";
  position: absolute;
  transform: translate(-50%, 0%);

  pointer-events: none;

  top: 16px;
  left: 50%;
  z-index: 100;
}

#dropdown {
  content: "";
  background-color: #001e2a;

  display: grid;
  box-sizing: border-box;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  margin: 0px auto;
  padding-top: 256px;
  padding-left: 16px;
  padding-right: 16px;
  width: 275px;
  height: 300px;

  position: absolute;
  transform: translate(-50%, -75%);
  /* transform: translate(-50%, 0%); */
  top: 0px;
  left: 50%;
  z-index: 10;

  align-content: end;
  justify-items: center;

  &:hover,
  &:focus {
    transition: 0.3s;
    transform: translate(-50%, 0%);
  }

  & > * {
    opacity: 0;
  }

  &:hover > * {
    opacity: 100;
    transition: 0.5s ease-in;
  }
}

#vault-button {
  border: none;
  padding: 5px;
  margin: 0px auto 15px auto;
  justify-content: center;
  align-items: center;

  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  background-color: #00ecd0;

  width: 200px;
  height: 40px;

  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  line-height: 2px;
  letter-spacing: 3px;

  & > span {
    color: #001e2a;
    font-size: 18px;
    font-weight: bolder;

    line-height: 2px;
    letter-spacing: 3px;
  }

  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.content {
  color: white;
  text-decoration: none;

  font-family: "brandon-grotesque", sans-serif;
  font-size: 24px;
}
