#collapsible {
    content: "";
    color: #00ECD0;
    background-color: #001E2A;

    font-size: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    margin: 0px;
    padding: 0px 15px;
    width: 275px;

    position: absolute;
    transform: translate(-50%, 0%);
    top: 0px;
    left: 50%;
    z-index: 10;
}

#vault-button {
    padding: 10px;
    margin: 0px auto 15px auto;
    background-color: #00ECD0;

    justify-self: center;
}

.content {
    color: white;
    display: none;
    overflow: hidden;
}